
/* valid */
.my-div{ 
    background-color: palevioletred;
}

/* not valid */
.12my_div{
    background-color: palevioletred;
}

/* not valid */
.%mydiv{
    background-color: palevioletred;
}

/* not valid */
.my@div{
    background-color: palevioletred;
}

/* not valid */
.@mydiv{
    background-color: palevioletred;
}

/* valid */
._div{
    background-color: palevioletred;
}

/* valid */
._my78div{
    background-color: palevioletred;
}

/* valid */
.div{
    background-color: palevioletred;
}