.first,
.second,
.third{
    color: white;
    background-color: rgb(16, 53, 70);
    font-family: Georgia, 'Times New Roman', Times, serif;
     width: 300px;
     height: 150px;
    padding: 7px 15px ;
    margin: 15px;

}
.first{
    opacity: 0.9;
}
.second{
    opacity: 0.7;
}
.third{
    opacity: 0.5;
}